<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrasi Guru</title>
</head>
<body>
  <div class="box">
    <center><h1>Registrasi Guru</h1></center></div>
    <style type="text/css">
        #tulisan{
                color: 10px;
        }
        .box{
                background: rgb(43, 170, 85);
                padding: 10px;
            }
    </style>
    <p>Silakan isi data Anda</p>


</body>
</html>