*,
html,
body {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #001B24;
}

.logo img {
    position: absolute;
    width: 104px;
    height: 88px;
    left: 19px;
    top: 39px;
}

.judul h1 {
    position: absolute;
    width: 759px;
    height: 55px;
    left: 192px;
    top: 72px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #FFFFFF;
}

.next {
    position: absolute;
    width: 63px;
    height: 23px;
    left: 688px;
    top: 548px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.db {
    position: absolute;
    width: 257px;
    height: 39px;
    left: 591px;
    top: 792px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.nama {
    position: absolute;
    width: 518px;
    height: 46px;
    left: 461px;
    top: 906px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 520px) {
    body {
        position: relative;
        width: 414px;
        height: 896px;
        background: #001B24;
    }
    .logo img {
        position: absolute;
        width: 50px;
        height: 49.2px;
        left: 24px;
        top: 17px;
    }
    .judul h1 {
        position: absolute;
        width: 317px;
        height: 80px;
        left: 49px;
        top: 172px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        color: #FFFFFF;
    }
    .next {
        position: absolute;
        width: 71px;
        height: 15px;
        left: 186px;
        top: 440px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
    }
    .db {
        position: absolute;
        width: 257px;
        height: 39px;
        left: 78px;
        top: 699px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
    }
    .nama {
        position: absolute;
        width: 518px;
        height: 46px;
        left: -52px;
        top: 813px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
    }
}